@(userList: List[User],userForm: Form[User])

<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
</head>
    <body>
        <h1>ユーザ登録</h1>
<hr>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ユーザ名</th>
                    <th>パスワード</th>
                    <th>権限</th>
                </tr>
            </thead>
            <tbody>
            @for(u <- userList) {
                <tr>
                    <td>@u.id</td>
                    <td>@u.name</td>
                    <td>@u.password</td>
                    <td>@u.permission</td>
                </tr>
            }
            </tbody>

            <form action="@routes.Users.createUser()" method="POST">
        <p>
            名前: <input type="text" name="name" required/>
        </p>

        <p>
           パスワード : <input type="text" name="password" required/>
        </p>

        <p>
           権限 : <input type="text" name="permission" required/>
        </p>

        <input type="submit" value="登録"/>
        </br>
    </form>
    </br>
        </table>
        <p>
<button type="button" onclick="location.href='/adminMenu'"style="border-width:4;background-color:#ccccff;width:200px;height:40px;"
onmouseover="this.style.background='lightskyblue'"
onmouseout="this.style.background='#ccccff'"><font size="4">メニューに戻る</font></button>
</p>
    </body>
</html>