@(departmentList: List[Department],departmentForm: Form[Department])

<html>
    <body>
        <h1>部署作成</h1>


        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>部署名</th>
                </tr>
            </thead>
            <tbody>
            @for(u <- departmentList) {
                <tr>
                    <td>@u.department_id</td>
                    <td>@u.department_name</td>
                </tr>
            }
            </tbody>

            <form action="@routes.Department_create.addPost()" method="POST">
        <p>
            名前: <input type="text" name="department_name" required/>
        </p>

        <input type="submit" value="Create"/>
    </form>
        </table>
    </body>
</html>