<html>
<head>
<title>新規ユーザ登録画面</title>
</head>

<body>

<div align="center"><h1>新規ユーザ登録<h1></div>
<form action="cgi-bin/abc.cgi" method="post">
<p>
<div align="center">社員ID：<input type="text" name="namae"></div>
</p>

<p>
<div align="center">社員名:<input type="text" name="namae"></div>
</p>

<p>
<div align="center">ユーザID:<input type="text" name="namae"></div>
</p>

<p>
<div align="center">権限:
        <select name="権限">
        <option value="権限①">権限①</option>
        <option value="権限②">権限②</option></div>
      </select>
</p>

<p>
<div align="center">パスワード:<input type="password"></div>
</p>

<p>
<div align="center">再パスワード:<input type="password"></div>
</p>

<div align="center"><button><font size=4 color="black" >新規登録</font></button>
<a href="@routes.Application.adminMenu()"><button><font size=4 color="black" >メニューに戻る</font></button></a><p></div>
</body>
</html>