<html>
<head>
<title>メニュー画面</title>
</head>
<body>

	<div align="center">
		<h1>
			人事用メニュー
			<h1>
	</div>
	<a href="@routes.Application.thanksEntry()"><div align="center">
			<button>
				<font size=4 color="black">感謝カード記入</font>
			</button></a>
	<p>
	</div>
	<a href="@routes.Application.userManage()"><div align="center">
			<button>
				<font size=4 color="black">ユーザ管理</font>
			</button></a>
	<p>
	</div>
	<a href="@routes.Application.boardList()"><div align="center">
			<button>
				<font size=4 color="black">掲示板</font>
			</button></a>
	<p>
	</div>
	<a href="@routes.Application.postManage()"><div align="center">
			<button>
				<font size=4 color="black">部署管理</font>
			</button></a>
	<p>
	</div>
	<a href="@routes.Application.vote()"><div align="center">
			<button>
				<font size=4 color="black">投票</font>
			</button></a>
	<p>
	</div>
	<a href="@routes.Application.check()"><div align="center">
			<button>
				<font size=4 color="black">掲示板への登録</font>
			</button></a>
	<p>
	</div>
	<a href="@routes.Application.search()"><div align="center">
			<button>
				<font size=4 color="black">検索</font>
			</button></a>
	<p>
	</div>
	<a href="@routes.Application.count()"><div align="center">
			<button>
				<font size=4 color="black">集計</font>
			</button></a>
	<p>
	</div>

</body>
</html>