<html>
<head>
<title>メニュー画面</title>
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
</head>
<body>
<center>
<h1>メニュー</h1>

<p><input type="button" onclick="location.href='/thanksEntry'"value="感謝カード記入" /></p>
<p><input type="button" onclick="location.href='/users'"value="ユーザ管理" /></p>
<p><button><font size=4 color="black" >掲示板</font></button></p>
<p><button><font size=4 color="black" >部署管理</font></button></p>
<p><button><font size=4 color="black" >投票</font></button></p>
<p><button><font size=4 color="black" >掲示板への登録</font></button></p>
<p><button><font size=4 color="black" >検索</font></button></p>
<p><button><font size=4 color="black" >集計</font></button></p>
</center>
</body>
</html>