@(thanklist:List[Thankyou])

<html>
<head>
<title>掲示板画面</title>
</head>
<body>
	<div align="center">
		<h1>
			掲示板
			<h1>
	</div>
	<div align="center">
		<table border=1>
			</div>
			<tr>
				@for(Thankyou <- thanklist) {
				<th>感謝カードID:@Thankyou.thankyou_id</th>

				<th>種別:@Thankyou.section_id</th>

				<th>日付:@Thankyou.date</th>
			<tr>
				<td colspan=3>内容:@Thankyou.help_contents</td>
				<td>
					<form method="post" action="/board">
						<input type="hidden" name="thankid" value="@Thankyou.thankyou_id" />
						<input type="submit" value="詳細" />
					</form>

				</td>
			</tr>

			}


				<td align="right" valign="bottom" colspan=4>
				 <a href="routes.Application.receive()">
				    <button>受信箱に<br>戻る</button>
				 </a>
				 <a href="routes.Application.staffMenu()">
				    <button>メニューに<br>戻る</button>
				 </a>
				</td>
		</table>
</body>
</html>
