<html>
<head>
<title>種別管理メニュー画面</title>
</head>

<body>
<div align="center"><h1>種別管理メニュー<h1></div>
<a href="@routes.Application.addClass()"><div align="center"><button><font size=5 color="black" >種別の登録</font></button></a><p></div>
<a href="@routes.Application.deleteClass()"><div align="center"><button><font size=5 color="black" >種別の削除</font></button></a><p></div>
<a href="@routes.Application.adminMenu()"><div align="center"><button><font size=2 color="black" >メニューへ戻る</font></button></a><p></div>

</body>
</html>