@(count_employeeID:Integer,count_year:Date,count_month:Date,count_help:Integer,count_vote:Integer,count_thankscardID:Integer,count_class:String,count_date:Date,count_content:String)
<HTML>

<head>

</head>
<body>

<h1>集計画面</h1>

<br>
<form>
社員ID@count_employeeID
<select>

<option>
</option>
</select>
</form>

<br>
日付(年)@count_year
<select>

<option>
</option>
</select>
</form>

<br>
日付(月)@count_month
<select>
<option>
</option>
</select>
</form>

<br>
ヘルプ数：@count_help

<br>
投票数：<br>@count_vote




<br>
感謝カードID：@count_thankscardID
<br>
種別:@count_class
<br>
日付:@count_date
<br>
内容:<br>@count_content



<input type="button" value="詳細">
<a href="@routes.Application.adminMenu()"><input type="button" value="メニューに戻る"></a>
</body>
</HTML>