@(employeeID:Integer,year:Integer,month:Integer,help:Integer,vote:Integer,thankscardID:Integer,
class:String,date:Integer,content:String)

<head>

</head>
<body>

<h1>集計画面</h1>

<br>
<form>
社員ID@employeeID
<select>

<option>
</option>
</select>
</form>

<br>
日付(年)@year
<select>

<option>
</option>
</select>
</form>

<br>
日付(月)@month
<select>
<option>
</option>
</select>
</form>

<br>
ヘルプ数：@help

<br>
投票数：<br>@vote




<br>
感謝カードID：@thankscardID
<br>
種別:@help
<br>
日付:@date
<br>
内容:<br>@content


<input type="button" value="詳細">
