@(loginForm: Form[Authentication.Login])

@import helper._

<html>
    <body>
        <h1>ログインフォーム</h1>

        <hr>

        <!-- ↓ユーザ名とパスワードの真偽をはかる -->
        @if(loginForm.hasGlobalErrors) {
        <p class="error">
            @loginForm.globalError.message
        </p>
        }

        @form(routes.Authentication.authenticate()) {
            @inputText(loginForm("name"))
            @inputPassword(loginForm("password"))

            <input type="submit" value="ログイン">
        }
    </body>
</html>