<html>
<head>
<title>部署管理メニュー画面</title>
</head>

<body>
<div align="center"><h1>部署管理メニュー<h1></div>
<a href="@routes.Application.addPost()"><div align="center"><button><font size=5 color="black" >部署の登録</font></button></a><p></div>
<a href="@routes.Application.deletePost()"><div align="center"><button><font size=5 color="black" >部署の削除</font></button></a><p></div>
<a href="@routes.Application.adminMenu()"><div align="center"><button><font size=2 color="black" >メニューへ戻る</font></button></a>><p></div>

</body>
</html>