@(thanksEnty_year:Date,thanksEnty_month:Date,thanksEnty_date:Date,thanksEnty_helperName:String,thanksEnty_helpClass:String,thanksEnty_post:String,thanksEnty_helpContent:String)

<HTML>

<head>
</head>
<body>

  <h1>感謝カード入力画面</h1>
<form>
年@thanksEnty_year
<select>
<option>
</option>
</select>
</form>


<form>
月@thanksEnty_month
  <select>
       　
<option>
</option>
    </select>
</form>

日@thanksEnty_date
<select>
<option>
</option>
</select>
</form>
<br>
<label>相手の氏名@thanksEnty_helperName
<input type="text" name="相手の氏名"　value="" 　>


<br>
<form>
ヘルプ種別@thanksEnty_helpClass
<select>


<option>
</option>
</select>
</form>


<br>
<form>
部署@thanksEnty_post
<select>

<option>
</option>
</select>
</td>
</tr>
</form>
<br>

<td>ヘルプ内容</td>@thanksEnty_helpContent
<br>
<td><textarea rows="7" cols="55" name="message">
</textarea></td>

</br>
</tr>
<td>

<br>
<td colspan="2">
<input type="submit" value="送信">
<input type="reset" value="クリア">
<a href="@routes.Application.staffMenu()"><input type="button" value="メニューに戻る"></a>
</body>

</HTML>
