@(year:Date,month:Date,date:Date,helperName:String,helpClass:String,post:String,helpContent:String)

<HTML>

<head>
</head>
<body>

  <h1>感謝カード入力画面</h1>
<form>
年@year
<select>
<option>
</option>
</select>
</form>


<form>
月@month
  <select>
       　
<option>
</option>
    </select>
</form>

日@date
<select>
<option>
</option>
</select>
</form>
<br>
<label>相手の氏名@helperName
<input type="text" name="相手の氏名"　value="" 　>


<br>
<form>
ヘルプ種別@helpClass
<select>


<option>
</option>
</select>
</form>


<br>
<form>
部署@post
<select>

<option>
</option>
</select>
</td>
</tr>
</form>
<br>

<td>ヘルプ内容</td>@helpContent
<br>
<td><textarea rows="7" cols="55" name="message">
</textarea></td>

</br>
</tr>
<td>

<br>
<td colspan="2">
<input type="submit" value="送信">
<input type="reset" value="クリア">
<a href="@routes.Application.staffMenu()"><input type="button" value="メニューに戻る"></a>
</body>

</HTML>
