@(thankyouList: List[Thankyou],thankyouForm: Form[Thankyou])

<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
</head>

    <body>
        <h1>感謝カード記入</h1>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>相手の名前</th>
                    <th>部署名</th>
                    <th>ヘルプ内容</th>
                </tr>
            </thead>
            <tbody>
            @for(u <- thankyouList) {
                <tr>
                    <td>@u.thankyou_id</td>
                    <td>@u.date</td>
                    <td>@u.you_name</td>
                    <td>@u.help_contents</td>
                </tr>
            }
            </tbody>

            <form action="@routes.Thank_create.createThank()" method="POST">
        <p>
            相手の名前: <input type="text" name="you_name" required/>
        </p>

        <p>
          部署名 : <input type="text" name="password" required/>
        </p>

        <p>
           ヘルプ内容 :</br>
           <textarea rows="7" cols="55" name="help_contents" required="required"></textarea>
        </p>

        <input type="submit" value="送信"/>
        <input type="reset" value="クリア">
		<input type="button" onclick="location.href='/staffMenu'"value="メニューに戻る">
		</br>
    </form>
        </table>
    </body>
</html>